<div class="alert alert-block alert-info">
<h1><b>Lab 9 Task </b></h1>
<div class="alert alert-block alert-danger">
<h2>Submitted by : Ishmal Nadeem(101)</h2>
</div>
</div>
<b>1. Choose any Dataset (csv/json) from Kaggle and apply the following: 
• Data Loading / Reading 
• Data Exploration </b>

<div class="alert alert-block alert-info">
<h3><b>Data Loading</b></h3>
<div class="alert alert-block alert-danger">
<h4>1. Read CSV: </h4>
</div>
</div>

In [1]:
import pandas as pd 
df = pd.read_csv('top_restaurants.csv')
df

,Restaurant_Name,City,Country,Cuisine_Type,Michelin_Stars,Average_Price_USD,Chef,Established_Year,Seating_Capacity,Rating,Signature_Dish,Years_Operating,Price_Category,Star_Category,Continent
0,Osteria Francescana,Modena,Italy,Italian Contemporary,3,320,Massimo Bottura,1995,28,4.9,Five Ages of Parmigiano,30,Luxury,Three Stars,Europe
1,Odette,Singapore,Singapore,French Contemporary,3,320,Julien Royer,2008,32,4.9,Hokkaido Sea Urchin,17,Luxury,Three Stars,Asia
2,The French Laundry,Yountville,USA,French,3,390,Thomas Keller,1994,60,4.9,Oysters and Pearls,31,Luxury,Three Stars,North America
3,Arpège,Paris,France,French Vegetarian,3,425,Alain Passard,1986,40,4.9,Heirloom Tomatoes,39,Ultra-Luxury,Three Stars,Europe
4,Mirazur,Menton,France,Mediterranean,3,350,Mauro Colagreco,1991,36,4.8,Salt Crusted Beetroot,34,Luxury,Three Stars,Europe
5,Frantzén,Stockholm,Sweden,Nordic Contemporary,3,380,Björn Frantzén,2008,23,4.8,Reindeer Moss,17,Luxury,Three Stars,Europe
6,Le Bernardin,New York,USA,French Seafood,3,295,Eric Ripert,1972,62,4.8,Barely Cooked Salmon,53,Luxury,Three Stars,North America
7,Piazza Duomo,Alba,Italy,Italian,3,310,Enrico Crippa,2005,35,4.8,Fassona Beef,20,Luxury,Three Stars,Europe
8,Arzak,San Sebastián,Spain,Basque,3,295,Juan Mari Arzak,1897,50,4.8,Red Mullet,128,Luxury,Three Stars,Europe
9,Atelier Crenn,San Francisco,USA,Contemporary French,3,345,Dominique Crenn,2011,50,4.8,Kir Breton Royale,14,Luxury,Three Stars,North America
10,Benu,San Francisco,USA,Contemporary American,3,298,Corey Lee,2010,56,4.8,Thousand Year Quail Egg,15,Luxury,Three Stars,North America
11,Alléno Paris,Paris,France,French Haute Cuisine,3,385,Yannick Alléno,2003,55,4.8,Cabbage & Caviar,22,Luxury,Three Stars,Europe
12,La Pergola,Rome,Italy,Italian Haute Cuisine,3,310,Heinz Beck,1994,50,4.8,Fagottelli,31,Luxury,Three Stars,Europe
13,Quique Dacosta,Dénia,Spain,Mediterranean,3,270,Quique Dacosta,1989,48,4.8,Rice with Seafood,36,Luxury,Three Stars,Europe
14,L'Astrance,Paris,France,French Contemporary,3,305,Pascal Barbot,2000,25,4.8,Lobster Ravioli,25,Luxury,Three Stars,Europe
15,El Celler de Can Roca,Girona,Spain,Contemporary Catalan,3,280,Joan Roca,1986,45,4.7,El Mundo,39,Luxury,Three Stars,Europe
16,Geranium,Copenhagen,Denmark,New Nordic,3,420,Rasmus Kofoed,2007,40,4.7,Radish & Roses,18,Ultra-Luxury,Three Stars,Europe
17,Eleven Madison Park,New York,USA,Contemporary American,3,365,Daniel Humm,1998,80,4.7,Lavender Honey Duck,27,Luxury,Three Stars,North America
18,Alinea,Chicago,USA,Molecular Gastronomy,3,385,Grant Achatz,2005,64,4.7,Black Truffle Explosion,20,Luxury,Three Stars,North America
19,Le Calandre,Rubano,Italy,Italian,3,290,Massimiliano Alajmo,1981,50,4.7,Risotto,44,Luxury,Three Stars,Europe
20,Azurmendi,Larrabetzu,Spain,Basque,3,265,Eneko Atxa,2005,45,4.7,Roasted Egg,20,Luxury,Three Stars,Europe
21,Ultraviolet,Shanghai,China,Avant-garde,3,570,Paul Pairet,2012,10,4.6,20 Textures,13,Ultra-Luxury,Three Stars,Asia
22,Noma,Copenhagen,Denmark,New Nordic,2,450,René Redzepi,2003,40,4.8,Fermented Vegetables,22,Ultra-Luxury,Two Stars,Europe
23,Den,Tokyo,Japan,Japanese Kaiseki,2,280,Zaiyu Hasegawa,2007,26,4.7,Dentucky Fried Chicken,18,Luxury,Two Stars,Asia
24,SingleThread,Healdsburg,USA,Japanese-Californian,2,325,Kyle & Katina Connaughton,2016,48,4.7,Whole Roasted Chicken,9,Luxury,Two Stars,North America
25,Restaurant Tim Raue,Berlin,Germany,Asian Fusion,2,245,Tim Raue,2010,48,4.7,Char Sui Duck,15,Premium,Two Stars,Europe
26,Narisawa,Tokyo,Japan,Japanese Innovative,2,275,Yoshihiro Narisawa,2003,36,4.7,Satoyama Cuisine,22,Luxury,Two Stars,Asia
27,Florilège,Tokyo,Japan,French Contemporary,2,235,Hiroyasu Kawate,2009,28,4.7,Ayu Fish,16,Premium,Two Stars,Asia
28,Steirereck,Vienna,Austria,Austrian Contemporary,2,265,Heinz Reitbauer,2005,60,4.7,Char with Hay,20,Luxury,Two Stars,Europe
29,Momofuku Ko,New York,USA,Contemporary American,2,285,Sean Gray,2008,12,4.7,Shaved Foie Gras,17,Luxury,Two Stars,North America
30,Restaurant André,Singapore,Singapore,Asian Fusion,2,285,André Chiang,2010,30,4.7,Octopus,15,Luxury,Two Stars,Asia
31,Amber,Hong Kong,Hong Kong,French,2,245,Richard Ekkebus,2005,46,4.7,Langoustine,20,Premium,Two Stars,Asia
32,Disfrutar,Barcelona,Spain,Mediterranean,2,250,Oriol Castro,2014,52,4.6,Panchino,11,Luxury,Two Stars,Europe
33,Mugaritz,Errenteria,Spain,Basque Experimental,2,275,Andoni Luis Aduriz,1998,20,4.6,Edible Stones,27,Luxury,Two Stars,Europe
34,Alchemist,Copenhagen,Denmark,Experimental,2,550,Rasmus Munk,2015,50,4.5,Dehydrated Malt Flatbread,10,Ultra-Luxury,Two Stars,Europe
35,Asador Etxebarri,Axpe,Spain,Basque Grill,1,210,Victor Arguinzoniz,1990,30,4.7,Grilled Turbot,35,Premium,One Star,Europe
36,The Clove Club,London,UK,British Contemporary,1,165,Isaac McHale,2013,40,4.6,Buttermilk Chicken,12,Premium,One Star,Europe
37,Burnt Ends,Singapore,Singapore,Modern BBQ,1,165,Dave Pynt,2013,26,4.6,Sanger,12,Premium,One Star,Asia
38,Septime,Paris,France,French Contemporary,1,95,Bertrand Grébaut,2011,28,4.5,Celeriac Toast,14,Fine Dining,One Star,Europe
39,Central,Lima,Peru,Contemporary Peruvian,0,180,Virgilio Martínez,2008,50,4.8,Piranha & Coca,17,Premium,No Stars,South America
40,Maido,Lima,Peru,Nikkei,0,165,Mitsuharu Tsumura,2009,36,4.7,Causa Nikkei,16,Premium,No Stars,South America
41,Pujol,Mexico City,Mexico,Contemporary Mexican,0,155,Enrique Olvera,2000,55,4.7,Mole Madre,25,Premium,No Stars,North America
42,Gaggan Anand,Bangkok,Thailand,Progressive Indian,0,195,Gaggan Anand,2017,14,4.6,Lick It Up,8,Premium,No Stars,Asia
43,Quintonil,Mexico City,Mexico,Contemporary Mexican,0,140,Jorge Vallejo,2012,48,4.6,Esquites,13,Fine Dining,No Stars,North America
44,Sühring,Bangkok,Thailand,Contemporary German,0,185,Thomas & Mathias Sühring,2014,48,4.6,Massaman Curry,11,Premium,No Stars,Asia
45,Boragó,Santiago,Chile,Chilean Contemporary,0,145,Rodolfo Guzmán,2006,40,4.6,Sea Urchin,19,Fine Dining,No Stars,South America
46,Blue Hill at Stone Barns,Pocantico Hills,USA,Farm-to-Table,0,285,Dan Barber,2004,70,4.6,Root Vegetables,21,Luxury,No Stars,North America
47,White Rabbit,Moscow,Russia,Contemporary Russian,0,220,Vladimir Mukhin,2011,50,4.5,King Crab,14,Premium,No Stars,Europe
48,Leo,Bogotá,Colombia,Colombian Contemporary,0,125,Leonor Espinosa,2007,45,4.5,Amazon Ants,18,Fine Dining,No Stars,South America
49,Lyle's,London,UK,British Contemporary,0,85,James Lowe,2014,38,4.5,Pork Chop,11,Fine Dining,No Stars,Europe

<div class="alert alert-block alert-info">
<b>2. Print Top 5 rows of dataset: </b>
</div>

In [2]:
df.head(5)

,Restaurant_Name,City,Country,Cuisine_Type,Michelin_Stars,Average_Price_USD,Chef,Established_Year,Seating_Capacity,Rating,Signature_Dish,Years_Operating,Price_Category,Star_Category,Continent
0,Osteria Francescana,Modena,Italy,Italian Contemporary,3,320,Massimo Bottura,1995,28,4.9,Five Ages of Parmigiano,30,Luxury,Three Stars,Europe
1,Odette,Singapore,Singapore,French Contemporary,3,320,Julien Royer,2008,32,4.9,Hokkaido Sea Urchin,17,Luxury,Three Stars,Asia
2,The French Laundry,Yountville,USA,French,3,390,Thomas Keller,1994,60,4.9,Oysters and Pearls,31,Luxury,Three Stars,North America
3,Arpège,Paris,France,French Vegetarian,3,425,Alain Passard,1986,40,4.9,Heirloom Tomatoes,39,Ultra-Luxury,Three Stars,Europe
4,Mirazur,Menton,France,Mediterranean,3,350,Mauro Colagreco,1991,36,4.8,Salt Crusted Beetroot,34,Luxury,Three Stars,Europe

<div class="alert alert-block alert-info">
<b>3. Print Bottom 5 rows of dataset:  </b>
</div>

In [3]:
df.tail(5)

,Restaurant_Name,City,Country,Cuisine_Type,Michelin_Stars,Average_Price_USD,Chef,Established_Year,Seating_Capacity,Rating,Signature_Dish,Years_Operating,Price_Category,Star_Category,Continent
45,Boragó,Santiago,Chile,Chilean Contemporary,0,145,Rodolfo Guzmán,2006,40,4.6,Sea Urchin,19,Fine Dining,No Stars,South America
46,Blue Hill at Stone Barns,Pocantico Hills,USA,Farm-to-Table,0,285,Dan Barber,2004,70,4.6,Root Vegetables,21,Luxury,No Stars,North America
47,White Rabbit,Moscow,Russia,Contemporary Russian,0,220,Vladimir Mukhin,2011,50,4.5,King Crab,14,Premium,No Stars,Europe
48,Leo,Bogotá,Colombia,Colombian Contemporary,0,125,Leonor Espinosa,2007,45,4.5,Amazon Ants,18,Fine Dining,No Stars,South America
49,Lyle's,London,UK,British Contemporary,0,85,James Lowe,2014,38,4.5,Pork Chop,11,Fine Dining,No Stars,Europe

<div class="alert alert-block alert-info">
<b>4. Print Number of Rows and Columns in dataset:   </b>
</div>

In [4]:
# df.shape # (rows, columns)
print('rows: ', df.shape[0])  # [0] means x-axis
print('columns: ', df.shape[1]) # [1] means x-axis

rows:  50
columns:  15

<div class="alert alert-block alert-info">
<b>5. Print/Determine all the null columns in dataset: </b>
</div>

In [5]:
df.isnull().sum()

Restaurant_Name      0
City                 0
Country              0
Cuisine_Type         0
Michelin_Stars       0
Average_Price_USD    0
Chef                 0
Established_Year     0
Seating_Capacity     0
Rating               0
Signature_Dish       0
Years_Operating      0
Price_Category       0
Star_Category        0
Continent            0
dtype: int64

<div class="alert alert-block alert-info">
<b>6. Print datatype of each column:  </b>
</div>

In [6]:
df.dtypes

Restaurant_Name       object
City                  object
Country               object
Cuisine_Type          object
Michelin_Stars         int64
Average_Price_USD      int64
Chef                  object
Established_Year       int64
Seating_Capacity       int64
Rating               float64
Signature_Dish        object
Years_Operating        int64
Price_Category        object
Star_Category         object
Continent             object
dtype: object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_Name    50 non-null     object
 1   City               50 non-null     object
 2   Country            50 non-null     object
 3   Cuisine_Type       50 non-null     object
 4   Michelin_Stars     50 non-null     int64
 5   Average_Price_USD  50 non-null     int64
 6   Chef               50 non-null     object
 7   Established_Year   50 non-null     int64
 8   Seating_Capacity   50 non-null     int64
 9   Rating             50 non-null     float64
 10  Signature_Dish     50 non-null     object
 11  Years_Operating    50 non-null     int64
 12  Price_Category     50 non-null     object
 13  Star_Category      50 non-null     object
 14  Continent          50 non-null     object
dtypes: float64(1), int64(5), object(9)
memory usage: 6.0+ KB

In [8]:
df.describe()

,Michelin_Stars,Average_Price_USD,Established_Year,Seating_Capacity,Rating,Years_Operating
count,50.000000,50.00000,50.000000,50.00000,50.000000,50.000000
mean,1.920000,281.06000,2001.780000,41.96000,4.702000,23.220000
std,1.192494,103.57811,17.962876,14.69966,0.109712,17.962876
min,0.000000,85.00000,1897.000000,10.00000,4.500000,8.000000
25%,1.000000,212.50000,1998.500000,30.50000,4.600000,14.250000
50%,2.000000,282.50000,2006.500000,45.00000,4.700000,18.500000
75%,3.000000,323.75000,2010.750000,50.00000,4.800000,26.500000
max,3.000000,570.00000,2017.000000,80.00000,4.900000,128.000000

In [9]:
df.count()
# df.count(1) # 1 wala column dikhaye ga

Restaurant_Name      50
City                 50
Country              50
Cuisine_Type         50
Michelin_Stars       50
Average_Price_USD    50
Chef                 50
Established_Year     50
Seating_Capacity     50
Rating               50
Signature_Dish       50
Years_Operating      50
Price_Category       50
Star_Category        50
Continent            50
dtype: int64

In [10]:
df['Rating'].unique()

array([4.9, 4.8, 4.7, 4.6, 4.5])

In [11]:
df.nunique()

Restaurant_Name      50
City                 34
Country              19
Cuisine_Type         36
Michelin_Stars        4
Average_Price_USD    38
Chef                 50
Established_Year     26
Seating_Capacity     26
Rating                5
Signature_Dish       50
Years_Operating      26
Price_Category        4
Star_Category         4
Continent             4
dtype: int64

In [15]:
df['Cuisine_Type'].value_counts()

Cuisine_Type
French Contemporary       4
Mediterranean             3
Contemporary American     3
French                    2
Asian Fusion              2
New Nordic                2
Basque                    2
Italian                   2
Contemporary Mexican      2
British Contemporary      2
French Vegetarian         1
Italian Contemporary      1
French Haute Cuisine      1
Contemporary French       1
Contemporary Catalan      1
Italian Haute Cuisine     1
Molecular Gastronomy      1
Avant-garde               1
French Seafood            1
Nordic Contemporary       1
Japanese-Californian      1
Japanese Kaiseki          1
Basque Experimental       1
Japanese Innovative       1
Experimental              1
Basque Grill              1
Modern BBQ                1
Austrian Contemporary     1
Contemporary Peruvian     1
Nikkei                    1
Progressive Indian        1
Contemporary German       1
Chilean Contemporary      1
Farm-to-Table             1
Contemporary Russian      1
Colombian Contemporary    1
Name: count, dtype: int64

In [21]:
for i in df['Signature_Dish'].unique():
    print(i)

Five Ages of Parmigiano
Hokkaido Sea Urchin
Oysters and Pearls
Heirloom Tomatoes
Salt Crusted Beetroot
Reindeer Moss
Barely Cooked Salmon
Fassona Beef
Red Mullet
Kir Breton Royale
Thousand Year Quail Egg
Cabbage & Caviar
Fagottelli
Rice with Seafood
Lobster Ravioli
El Mundo
Radish & Roses
Lavender Honey Duck
Black Truffle Explosion
Risotto
Roasted Egg
20 Textures
Fermented Vegetables
Dentucky Fried Chicken
Whole Roasted Chicken
Char Sui Duck
Satoyama Cuisine
Ayu Fish
Char with Hay
Shaved Foie Gras
Octopus
Langoustine
Panchino
Edible Stones
Dehydrated Malt Flatbread
Grilled Turbot
Buttermilk Chicken
Sanger
Celeriac Toast
Piranha & Coca
Causa Nikkei
Mole Madre
Lick It Up
Esquites
Massaman Curry
Sea Urchin
Root Vegetables
King Crab
Amazon Ants
Pork Chop

In [26]:
for i in df['Chef'].unique():
    print(i)

Massimo Bottura
Julien Royer
Thomas Keller
Alain Passard
Mauro Colagreco
Björn Frantzén
Eric Ripert
Enrico Crippa
Juan Mari Arzak
Dominique Crenn
Corey Lee
Yannick Alléno
Heinz Beck
Quique Dacosta
Pascal Barbot
Joan Roca
Rasmus Kofoed
Daniel Humm
Grant Achatz
Massimiliano Alajmo
Eneko Atxa
Paul Pairet
René Redzepi
Zaiyu Hasegawa
Kyle & Katina Connaughton
Tim Raue
Yoshihiro Narisawa
Hiroyasu Kawate
Heinz Reitbauer
Sean Gray
André Chiang
Richard Ekkebus
Oriol Castro
Andoni Luis Aduriz
Rasmus Munk
Victor Arguinzoniz
Isaac McHale
Dave Pynt
Bertrand Grébaut
Virgilio Martínez
Mitsuharu Tsumura
Enrique Olvera
Gaggan Anand
Jorge Vallejo
Thomas & Mathias Sühring
Rodolfo Guzmán
Dan Barber
Vladimir Mukhin
Leonor Espinosa
James Lowe